<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h3 class="tableTitle">{{'ReceiptsGrid.Title' | translate}}</h3>
                <p-table [value]="receiptsDataSource" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="id">{{'id' | translate }} <p-sortIcon field="id"></p-sortIcon></th>
                            <th pSortableColumn="created_on">{{'Date' | translate }}<p-sortIcon field="created_on"></p-sortIcon></th>
                            <th pSortableColumn="booklet">{{'BookNo' | translate }}<p-sortIcon field="booklet"></p-sortIcon></th>
                            <th pSortableColumn="receipt_no">{{'SlipNo' | translate }}<p-sortIcon field="receipt_no"></p-sortIcon></th>
                            <th pSortableColumn="name">{{'Name' | translate }} <p-sortIcon field="name"></p-sortIcon></th>
                            <th>{{'Notes' | translate }}</th>
                            <th pSortableColumn="amount">{{'Amount' | translate }} <p-sortIcon field="amount"></p-sortIcon></th>
                            <th>{{'Actions' | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{product.id}}</td>
                            <td>{{product.created_on | date: 'dd-MM-yyyy'}}</td>
                            <td>{{product.booklet }}</td>
                            <td>{{product.receipt_no}}</td>
                            <td>{{product.paid_by}}</td>
                            <td>NA</td>
                            <td>{{product.amount}}</td>
                            <td>
                                <i class="pi pi-pencil mr-10px"></i>
                                <i class="pi pi-trash"></i>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="summary">
                        Footer
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<p-menu [model]="items"></p-menu>