<p-dialog header="{{'Receipts.AddNewReceipts' | translate}}" [(visible)]="show" [style]="{width: '30vw'}" [modal]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="true" [closeOnEscape]="false" [closable]="true" (onHide)="save(false)">

    <ng-container [formGroup]="payForm">
        <div class="row"> 
            <!-- {{payForm.value | json}} -->
            <div class="col-6 mb-3">
                <p class="p-b">{{'BookNo' | translate}}</p>
                <input type="text" pInputText formControlName="booklet" />
            </div>
            <div class="col-6 mb-3">
                <p class="p-b">{{'SlipNo' | translate}}</p>
                <input type="text" pInputText formControlName="receipt_no" />
            </div>

            <div class="col-12 mb-3">
                <p class="p-b">{{'Name' | translate}}</p>
                <input type="text" pInputText formControlName="paid_by" />
            </div>

            <div class="col-6 mb-3">
                <p class="p-b">{{'Amount' | translate}}</p>
                <p-inputNumber mode="currency" class="w-100" currency="INR" formControlName="amount" inputId="Amount"
                    locale="en-IN"></p-inputNumber>
            </div>

            <div class="col-6 mb-3">
                <p class="p-b">{{'Date' | translate}}</p>
                <p-calendar appendTo="body" [maxDate]="today" formControlName="date"></p-calendar>
            </div>

            <div class="col-12 mb-3">
                <p-dropdown formControlName="payment_mode" [options]="payModeData" placeholder="{{'Receipts.PayModeTitle' | translate}}"
                    [virtualScroll]="true" [itemSize]="10" [filter]="false" styleClass="w-100" [required]="true"
                    optionLabel="name" optionValue="id">
                </p-dropdown>
            </div>

            <div class="col-12 mb-3">
                <p class="p-b">{{'Notes' | translate}}</p>
                <input type="text" pInputText />
            </div>

            <div class="col-4">
                <button class="btn btn-block btn-primary" (click)="save(true)" [disabled]="!payForm.valid">{{'Save' | translate }}</button>
            </div>
        </div>
    </ng-container>

    <!-- <ng-template pTemplate="footer">
        <p-button icon="pi pi-check"  styleClass="p-button-secondary" label="Yes"></p-button>
    </ng-template> -->
</p-dialog>