<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <h3 class="d-flex align-items-center"><img src="assets/Images/masjid_logo.png" height="40" class="mr-4">
        Al-Masjid</h3>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="d-flex">
            <a class="d-flex align-items-center" (click)="changeLanguage()">
                <img src="assets/Images/ar.png" height="40" class="mr-4">
            </a>

        <a class="p-menuitem p-menuitem-link" (click)="showconfirmationDialog()">
            <span class="p-menuitem-icon pi pi-fw pi-power-off"></span>{{ 'Quit' | translate }}</a>
        </div>
    </ng-template>
</p-menubar>

<ng-container *ngIf="confirmationDialogData?.showDialog">
    <app-confirmation-dialog [dialogParams]="confirmationDialogData" (confirmationResult)="eventConfirmation($event)"></app-confirmation-dialog>
</ng-container>

<ng-container *ngIf="masjidDialogData?.showDialog">
    <app-select-masjid [dialogParams]="masjidDialogData"></app-select-masjid>
</ng-container>

<ng-container *ngIf="newReceipt">
    <app-new-receipt (recieptSaved)="event_recieptSaved($event)"></app-new-receipt>
</ng-container>

<ng-container *ngIf="newBooklet">
    <app-booklet (bookletSaved)="event_createBooklet($event)" [dialogParams]="bookletDialog"></app-booklet>
</ng-container>
<div class="mt-4">
    <router-outlet></router-outlet>
</div>